body
  background-color: #ccc
  font:
    size: 12pt

.ital
  font-style: italic

.clear
  clear: both

.inline
  display: inline

.smalltext
  font:
    size: 8pt

#flash_notice
  color: green
#flash_alert
  color: orange
#flash_error
  color: red

#maincontent
  margin: 50px 100px 50px 100px
  background-color: #ddf

  #headings
    border-bottom: 1px solid #000
    margin: 0px 0px 10px 0px
    font-weight: bold

    .heading
      float: left
      width: 200px

  #entries
    margin: 0px 0px 10px 0px
      
    .entry
      float: left
      width: 200px
    br
      clear: both
      margin: 0px 0px 5px 0px

  #links
    clear: both
    margin: 50px 0px 0px 20px
    font:
      size: smaller

    
