body {
  background-color: #ccc; }

.ital {
  font-style: italics; }

.clear {
  clear: both; }

#maincontent {
  margin: 50px 100px 50px 100px;
  background-color: #ddf; }
  #maincontent #headings {
    border-bottom: 1px solid #000;
    font-weight: bold; }
    #maincontent #headings .heading {
      float: left;
      padding: 5px 150px 0px 0px; }
  #maincontent #entries {
    clear: both; }
    #maincontent #entries .entry {
      float: left;
      padding: 5px 150px 0px 0px; }
