!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en",
      :lang => "en"}
  %head
    %meta{"http-equiv" => "content-type",
          :content => "text/html; charset=UTF-8"}
      %title
        Mustelids:
    = stylesheet_link_tag 'mustelids'

  %body{:style => "background: #EEEEEE"}

    %p{:style => "color: green"}
      = flash[:notice]

    = yield
